/* Thêm font từ google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset style */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 10px;
}

/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
}





/* Navbar */
.navbar {
/*  độ dài là toàn bộ màn hình  */
  width: 100%;
/*  xếp các element con bên trong theo hàng ngang */
  display: flex;
/*   dàn đều các element con theo hàng ngang và tạo ra các khoảng trống bằng nhau giữa các element con  */
  justify-content: space-between;
  padding: 20px;
}

.menu1 {
  display: flex;
/*  tạo ra khoảng trống giữa các element  */
  gap: 30px;
  font-size: 18px;
}

.icon {
  display: flex;
  gap: 10px;
}

li {
/*  cần relative để span.cart absolute theo  */
  position: relative;
}

li > span.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #ff7245;
  font-size: 14px;
  border-radius: 50%;
  
/*  Xét vị trí cố định theo li, luôn nằm ở góc trên bên phải của li  */
  position: absolute;
  top: -7px;
  right: -7px;
} 

 .chenchu1 {  
  color: black;
  position: absolute;
  top: 175px;
  margin-left: 680px;
  color:#fff;
  font-size: 52px;
        
 }

 .chenchu2 {
    color: black;
    position: absolute;
    top: 280px;
    margin-left: 650px;
    font-size: 20px;
    color:#fff;
}

 .chenchu3 {
    position: absolute;
    color: black;
    top: 280px;
    margin-left: 740px;
    font-size: 20px;
    color:#fff;
 }

.trungdiem > img {
  height: 440px;
   width: 100%;
}

 




div.flex {
    /* width: 1298px; */
    display: flex;
    
    
    
}

.div.so15 {
    margin-top: 50px; 
    margin-left: 15px;
}
.so15 > p {
  font-size: 20px;
  color: rgb(132, 138, 132);
}
.so2 > p {
  font-size: 20px;
  color: rgb(132, 138, 132);
  margin-left: 40px;
}
.so2 > h3 {
  color:white;
  margin-top: 55px;
  margin-right: 150px;
  margin-left: 40px;
  font-size: 20px;
}
.so15 > p {
  margin-left: 15px;
  font-size: 20px;
  color: rgb(132, 138, 132);
}
.so3 > p {
  color: rgb(132, 138, 132);
  font-size: 20px;
}
.so3 > h3 {
  color:white; 
  margin-top: 55px; 
  margin-right: 250px;
}
.so4 > p {
  font-size: 20px;
  color: rgb(132, 138, 132);
}
.so4 > h3 {
  color:white;
  margin-top: 55px;
}
.nu {
  height: 33px; color: orange;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

hr {
  width: 100%;
  height: 0.1px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 5px;
  border-width: 2px;
  border-color: black;
  }
 .flex1 {
  display: flex;
  font-size: 20px;
  color: rgb(132, 138, 132);
 }
 .flex1 > p {
  margin-left: 18px;
 }
 .flex1 > img {
  height: 35px; 
  margin-top: 10px; 
  margin-left: 527px;
 }
 .bodyketthuc {
  background-color: #151515;
  margin-top: 400px;
 }
 
.topic1 {
  margin-left: 20px;
  
}


.art {
  margin-top: 20px;
  width:500px;
  height:270px; 
  margin-left: 400px;
}


 
.flex3 {
  display: flex;
}


.flex4 {
  display: flex;
}
.flex4 > img {
  width:100px;
  height:80px;
  margin-left: 20px;
}

.flex7 {
  display: flex;
  
}
.anhshop {
  margin-left: 13px;
  height: 400px;
  width: 310px;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
  border: none;
  outline: none;
}

.searchTerm {
  width: 100%;
  border: 3px b;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 0 0 0 0 ;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #070707;
}

.searchButton {
  width: 100px;
  height: 50px;
  border: 1px solid #080808;
  background: #020202;
  color: #fff;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  align-items:  center;
}

.wrap{
  width: 20%;
  
  position: absolute;
  top:567px;
  left: 170px;
  transform: translate(-50%, -50%);

}



.nhapemail {
  display: flex;
  align-items: center;
}
.nhapemail > input {
  height: 60px; 
  width: 250px;
  display: inline-block;
}
.nhapemail > button {
  height: 61px; 
  width: 70px;
  margin-left: 5px; 
  background-color: #ff7245;
}

.cate {
  margin-left: 21px;
  margin-top: -2070px;
}
.cate1 {
  margin-left: 21px;
  color: grey;
}

.tia {
  color: grey;
  margin-left: 13px;
}
.recent > h5 {
  margin-left: 13px;
   color: grey
}
.dai  {
  margin-left: 400px;
  color: grey;
}
.muc {
  margin-left: 15px;
}
.month {
  font-size: 14px;
  margin-top: -1px; 
  color:gray;
}
.gach {
  margin-left: 13px; 
  margin-top: -13px; 
  color: grey;
}
.gach1 {
  margin-left: 13px; 
  margin-top: -1px; 
  color: grey;
}
.cmt {
  margin-left: -82px; 
  margin-top: -18px; 
  color:gray; 
  font-size: 13px;
}
.ten {
  margin-left: -82px;
}
.airn {
  margin-top: 50px; 
  margin-left: 15px;
}
.linkcolor {
  color: #fff;
}
.ic {
  width:24px;
  height:25px; 
  margin-left: 17px;
}
.ha1 {
  margin-top: -10px;
  font-size: 28px;
}
.ha {
  font-size: 14px; 
  color: orange;
}
.ha2 {
  margin-top: -10px; 
  color: grey;
}
.ha3 {
  margin-top: -10px; 
  margin-top: 30px; 
  color: grey;
}